body {
  font-family: 'Poppins-Black';
  background-color: #ffffff;
  margin:0px;
}

.home {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(226,226,226);
}

.theme-showcase {
  max-width:90vw;
  margin-left:270px;
  margin-right: 5vw; 
  margin-bottom: 5vh;
}
@media (max-width:767px) {
  #main {
    margin-left: 15vw;
    margin-right: 15vw; 
  }
}
.black-bg {
  background-color: rgba(0,0,0,0.8);
  width:100vw;
  height:100vh;
  position:fixed;
  left:0;
  top:0;
  z-index: 101;
}
.logo{
  margin-left:-23px;
}
.logo a{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(226,226,226);
}
/*** Profile Nav ***/
.img-circle {
    object-position: 90% 0;
    width: 250px;
    object-fit: cover;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.sticky {
    position: fixed;
    display: block;
    z-index: 100;
    margin-top:10vh;
    margin-left: 5px;
}
.main-menu {
    background: #f2f2f2;
    margin-top: -80px;
    max-width: 200px;
    margin-left: 25px;
    padding-top: 85px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-menu ul {
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.main-menu li {
  margin-top: 30px;
  height: 36px;
}
.topnav {
  display: none;
}
@media (max-width:767px) { 
.logo img {
    max-width: 200px;
    max-height: 200px;
    margin: 0px auto 20px auto;
}
.sticky {
  display: none;
}
/* Style the navigation menu */
.topnav {
  display: block;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  font-family: 'Bowlby One SC', cursive;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  font-family: 'Bowlby One SC', cursive;
  background-color: #005878;
  color: white;
}
}
.primary li a {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}
.primary li a:hover{
  color: #00bbcc ;
}

.social_nav {
    text-align: center;
}

.social_nav a {
    padding: 10px;
    color: #000;
}

.social_nav a:hover {
    color: #00bbcc;
}

/*** About ****/
.banner {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    overflow: hidden;
}

.banner-title {
    color: #ffffff;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 900;
    font-size: 48px;
    margin-top: -15vh;
    margin-left: 300px;
}
.action {
  margin-top: 5px;
  margin-bottom: 5px;
}
.inline {
  display: inline;
}
/* FORMS */
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin:auto;
}

.form input {
  width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    width:100%;
}
.form label {
  display: block;
}
/* INPUTS */
.input {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.select {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label{
  font-family: 'Poppins-Black', sans-serif;
}
.arrow {
  width:50px;
  opacity:0.6;
  margin-top:-25px;
    z-index: 999;
  position:fixed;
  top:50%;
  margin-left:-25px;
}
.arrow-left {
  left:5%;  
}
.arrow-right {
  left:95%;
}
.arrow:hover {
  opacity: 0.75;
  width:56px;
  margin-left:-28px;
  margin-top:-28px;
}

/* IMAGES */
.filter {
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
}
.filter:hover {
  cursor: pointer;
}

.selected-filter {
  background-color:black;
  color:white;
}
.img-row {
  display: block;
  width: 90%
  margin-left:5%;
}
.thumbnail {
    display: inline-block;
    width: 230px;
    height: 230px;
    overflow: hidden;
    margin: 25px;
}
.thumbnail:hover {
  width:250px;
  height:250px;
  margin: 15px;
  cursor: pointer;
}
.selected {
    margin: 19px;
  border: solid 6px #0088cc;
}

.selected:hover {
  margin: 9px;
}
.img-album {
  
}
.spirale {
  display: inline-block;
}
.spirale-img {
  margin:0;
}
#album .tjGalleryItem {
  overflow: hidden;
  justify-content: center;
    align-items: center;
}
.img-mini-square {
  width:250px;
  height: 250px;
  object-fit: cover;
}
.img-mini:hover {
  cursor: pointer;
}

.img-hidden {
  display: none;
}
.img-view {
  display: initial;
  position: fixed;
  max-height: 95vh;
  max-width: 95vw;
  top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 999;
}
.img-display {
/*  max-width: 90%;
    max-height: 85vh;*/
}
a.album-thumbnail{
  display:inline-block;
}
.album-thumbnail p{
  font-family: 'PermanentMarker-Regular', sans-serif;
}
.album-thumbnail img{
  object-fit: cover;
    width:100%;
    height: 90%;
  border-radius:11px;
}
div.album-thumbnail {
  display:inline-block;
  width:230px;
  height:260px;
  margin: 30px;
}
div.album-thumbnail:hover {
  width:250px;
  height:270px;
  margin: 20px;
}
.album-thumbnail p{
  font-weight: bold;
  color:#0046a0;
  margin: 0px;
}

.map-point {
  width: 5px;
    height: 5px;
    position: relative;
    border-radius: 100%;
    border: 2px solid red;
    background-color: red;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  font-size: 16px;
  margin: 10px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
